
<div class="container">
  <hr>

  <div class="row text-center">
    <div class="col-sm-offset-2 col-sm-8">
      <div class="btn-group-justified">
        <a href="/rock" class="btn btn-block btn-primary">
          Play Rock
        </a>
        <a href="/paper" class="btn btn-block btn-info">
          Play Paper
        </a>
        <a href="/scissors" class="btn btn-block btn-primary">
          Play Scissors
        </a>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-sm-offset-2 col-xs-4">
      <div class="panel panel-success">
        <div class="panel-heading text-center">
          <h2>Player: <%= @player_move %></h2>
        </div>
        <div class="panel-body text-center">
          <i class="fa <%=@player_hand%>" aria-hidden="true" style="font-size: 10em;"></i>
        </div>
      </div>
    </div>

    <div class="col-xs-4">
      <div class="panel panel-danger">
        <div class="panel-heading text-center">
          <h2>Computer:
            <%= @computer_move %>
          </h2>
        </div>
        <div class="panel-body text-center">
          <i class="fa <%=@computer_hand%>" aria-hidden="true" style="font-size: 10em;"></i>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 text-center" style="background-color: #F8F8F8;">
        <h1>
          <span class="label  <%=@label_color%>">
            You <%= @outcome %>!
          </span>
        </h1>
      </div>
    </div>
  </div>
