
<div class="container">
  <hr>

  <div class="row text-center">
    <div class="col-sm-offset-2 col-sm-8">
      <div class="btn-group-justified">
        <a href="/rock" class="btn btn-block btn-primary">
          Play Rock
        </a>
        <a href="/paper" class="btn btn-block btn-info">
          Play Paper
        </a>
        <a href="/scissors" class="btn btn-block btn-primary">
          Play Scissors
        </a>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-sm-offset-2 col-xs-4">
      <div class="panel panel-success">
        <div class="panel-heading text-center">
          <h2>Player: <%= @player_move %></h2>
        </div>
        <div class="panel-body text-center">
          <% if @player_move == "scissors"%>
          <i class="fa fa-hand-scissors-o" aria-hidden="true" style="font-size: 10em;"></i>
          <% elsif @player_move == "rock"%>
          <i class="fa fa-hand-rock-o" aria-hidden="true" style="font-size: 10em;"></i>
          <% else %>
          <i class="fa fa-hand-paper-o" aria-hidden="true" style="font-size: 10em;"></i>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-xs-4">
      <div class="panel panel-danger">
        <div class="panel-heading text-center">
          <h2>Computer:
            <%= @computer_move %>
          </h2>
        </div>
        <div class="panel-body text-center">
          <% if @computer_move == "scissors"%>
          <i class="fa fa-hand-scissors-o" aria-hidden="true" style="font-size: 10em;"></i>
          <% elsif @computer_move == "rock"%>
          <i class="fa fa-hand-rock-o" aria-hidden="true" style="font-size: 10em;"></i>
          <% else %>
          <i class="fa fa-hand-paper-o" aria-hidden="true" style="font-size: 10em;"></i>
          <% end %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 text-center" style="background-color: #F8F8F8;">
        <h1>
          <% if @outcome == "won"%>
          <span class="label label-success">
            You <%= @outcome %>!
          </span>
          <% elsif @outcome == "lose"%>
          <span class="label label-danger">
            You <%= @outcome %>!
          </span>
          <% else %>
          <span class="label label-warning">
            You <%= @outcome %>!
          </span>
          <% end %>
        </h1>
      </div>
    </div>
  </div>
